.myChatComm{
    /* margin: 0;
    padding: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
div{
    border: 1px solid FireBrick;
    overflow:hidden;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

image{
    border: 1px dashed rgb(60, 158, 41);
}
input:invalid { background: rgb(228, 17, 17); } 
input:valid { background: rgb(0, 255, 55); }   
.chatText{
    margin: 4px;
}
.lgndImg16{      
    height: 16px;
    width: 16px; 
    margin: 2px;
    background: url('/weather/img/nIcon-02.png');
}

.msgBoxImg{      
    height: 16px;
    width: 16px; 
    margin: 8px;
    background: url('/weather/img/nIcon-02.png');
}

.paddT{
    padding-top: 10px;
}

.msgBoxHeader{ 
    text-align: center;
    font-size: 24px; 
    margin: 10px 4px;
}

.sysImg16{      
    height: 16px;
    width: 16px; 
    background: url('/weather/img/sys-ico-16x16_1.png');
}
.flx{
    display: flex;
}
.captPan{
    display: flex;
    justify-content: space-between;
} 
.flexCol {
    display: flex;
    flex-direction: column;
}
.flxCentH{
    display: flex;
    align-items: center;
}
.flxGrw {
    display: flex;
    flex-grow: 1;
}
.flxGrwCol {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.flxCnt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flxColCntH{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.flxColCnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flxCntGrw{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.cntEnd{
    justify-content: end;
}
.bkg{
    background-color: #64a8e3;
}
.posAbs{
    position: absolute;
}
.posRel{
    position: relative;
}

.myInput{
    min-width: 10px;
    margin: 4px 2px;
}
.popUpBgd{
    background-color: #708090cc;
    position:absolute;
    width: 100%;
    height: 100%;
}

.dlgCont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px;
}
    
.btnInit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightblue;
    border-width: 2px;
    border-radius: 5px;
    border-color: #C4B8FF;
    margin: 2px;
    padding: 2px;
    user-select: none;
}
.btnInit:hover{
    background-color:green;
}
.btnInit:active{
    transform: translateY(1px);
}
.tranOpac{
    /* opacity: 0.0;
    visibility: hidden; */
    /* transition: opacity 1.4s linear 0.2s; */
}
.anim {    
    /* animation-name: example; */
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: reverse;   */
    /* animation: example 5s linear 2s infinite alternate; */
  }
  /* @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  } */
  @keyframes example {
    from {}
    /* from {transform: rotate(15deg);} */
    to {transform: rotate(360deg);}
  }