/*input:invalid {
    border: 2px dashed red;
}*/

/*input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
	
}*/

/*input:valid, divVis {
    border: 2px solid black;
}*/

input, select, body{
    color: #FFFFFF;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

body {
    background-image: url(../img/snowflake01.jpg);
}

#idMainDiv {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    width: 740px;
    /* min-width: 780px;
    max-width: 780px; */
}

.divVis {
    background-color: #072A60;
    border: 2px solid #C4B8FF;
    border-radius: 8px;
    /*color: #FFFFFF;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;*/
    margin-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.divInner{
    /*border-style: dashed;
    border-color: #FFFFFF;*/
    width: 32%;
    display: inline-block;
    
}


canvas {
    /*width: 720px;
    height: 720px;*/
    position: static;
    /*border-style: dashed;
    border-color: #FFFFFF;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #917400;
}

.overlay {
    position: fixed;
	/* height: 60%; */
	/* max-height:10em; */
	overflow:auto;
	/* width: 70%; */
	/* max-width:15em; */
	/* margin-left:-5em; */
	/* border: 1px solid #333; */
	/* background: #eee; */
	display: none;
	z-index:1;
	/* padding:10px; */
	/* color: #333333 !important; */
}